@import "src/styles/variables";

.UserList {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid $gray-87;

  &__right-col,
  &__left-col {
    align-self: center;
  }
}
